# DS_Store
.DS_Store
**/.DS_Store

# .class files
*.class
**/*.class

# .* files in the backend
backend/.*

.vscode

# Application properties
**/application.properties

# /bin/ files that don't need to be there
**/HELP.md
